
<div class="esp" [ngClass]="{'scroll-hide': scrolled}">
  <div class="top-logo">
      <a href="inicio"><img src="assets/logo.jpeg" alt="Logo de la empresa" width="auto" height="70px" style="position: fixed;"></a>
      <!--
        <div class="menu-ver">
        <a class="acc"> <span class="material-symbols-outlined" style=" font-size: 40px;">
          account_circle
          </span>
        </a>
          <div class="menu-ver-acc">
              <a href="">Datos</a>
              <a href="">Configuracion</a>
              <a href="">Salir</a>
          </div>
      </div>
      -->
    </div>
  </div>
  
  <div class="app" [ngClass]="{'fixed-top': scrolled}">
    <div class="top-bar">
        <div class="menu">
            <a href="/login" class="boton-left">Ingresar</a>
        </div>
    </div>
  </div>