.material-symbols-outlined{
  display: flex;
  margin-left: auto;
  }

  .esp {
    position: fixed;
    left: 0;
    right: 0;
    top: 0; 
    width: 100%; 
    z-index: 3;
  }
a{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.scroll-hide {
  display: none;
}

.fixed-top {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-radius: 10px;
}

  .acc{
    text-decoration: none;
    right: 1.6%;
    height: 12.5%;
    position: fixed;
    display: flex;
    align-items: center;
    color: #000000;
  }

.app {
    font-weight: 800;
    font-size: 125%;
    padding-top: 70px;
    
}

  .top-logo {
    background-color: #ffffff;
    width: auto;
    height: 70px;
    margin: auto;  
  }

  .top-bar {
    background-color: #011245;
    color: white;
    left: 0;
    right: 0;
    width: auto;
    margin: auto;
    justify-content: space-between;
    z-index: 2;
  }

  .menu {
    justify-content: center;
    list-style: none;
    display: flex;
    height: 3.5em;
}

.menu li:hover .menu-ver{
  display: block;
}

.boton {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0.7em 2em;
    background-color: #011245;
    color: white;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}


.boton:hover {
    background-color: #003366;
}

/*Menu desplegable Usuario*/
