body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

label {
  font-family: 'M PLUS Rounded 1c';
}

.toggle-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'M PLUS Rounded 1c';
  font-size: 16px;
}

.toggle-button:hover {
  background-color: #287bbc;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #123292;
  font-family: 'M PLUS Rounded 1c';
  border-radius: 10px;
}

.bar h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'M PLUS Rounded 1c';
  line-height: 1;
  color: #ffffff;
  margin: 0;
}

.container-bar {
  height: auto;
  width: auto;
  background-color: #ffffff;
}

/* Estilos para el formulario */
.container {
  width: 90%;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.form-column {
  grid-column: span 1;
}

/* Estilos para los elementos del formulario */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="file"] {
  display: none;
}

.file-input-label {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"]:hover + .file-input-label {
  background-color: #45a049;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #333;
}

/* Efecto hover para los elementos de entrada y selección */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
select:hover {
  border-color: #3498db;
}

/* Estilos para los botones */
button {
  background-color: #123292;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #287bbc;
}