<app-navigation-bar-login *ngIf="navbarLogin" class="barra"></app-navigation-bar-login>
<app-navigation-bar-admin *ngIf="navBarAdmin" class="barra"></app-navigation-bar-admin>
<app-navigation-bar-empleado *ngIf="navBarEmpleado" class="barra"></app-navigation-bar-empleado>
<app-navigation-bar-superadmin *ngIf="navBarSuper" class="barra"></app-navigation-bar-superadmin>

<img class="divazuljajamelapelas" src="assets/azul-portada.jpg">
<img src="assets/fondo.jpg">
  <div class="pos">
    <div class="login-container">
      <h1>Bienvenidos =)</h1>
    </div>
  </div>
