<div class="esp" [ngClass]="{'scroll-hide': scrolled}">
  <div class="top-logo">
    <a href="inicio"><img src="assets/logo.jpeg" alt="Logo de la empresa" width="auto" height="70px" style="position: fixed;"></a>
      <div class="menu-ver">
        <a class="acc"> <span class="material-symbols-outlined" style=" font-size: 40px;">
          account_circle
          </span></a>
          <div class="menu-ver-acc">
              <a href="">Datos</a>
              <a href="login" (click)="salir()">Salir</a>
          </div>
      </div>
    </div>
  </div>
  
  <div class="app" [ngClass]="{'fixed-top': scrolled}">
    <div class="top-bar">
        <div class="menu">
            <a href="/inicio" class="boton">Inicio</a>
            <div class="dropdown">
              <a class="boton-agregar" (click)="toggleDropdowna()" style="height: 42px;  cursor: pointer;">Agregar</a>
              <div class="dropdown-menu" [ngClass]="{'show': dropdownVisiblea}">
              <div class="dropdown-content">
                <div style="font-size: 82%;">
                <a href="/admin">Administrador</a>
                <a href="/rg_emp">Empleado</a>
                <a href="#">Usuario</a>
                <a href="/contrato">Contratos</a>
                <a href="/area">Area</a>
                <a href="/sede">Ciudad</a>
                <a href="#">Actividades</a>
                </div>
              </div>
            </div>
            </div>
            <div class="dropdown">
              <a class="boton-soli" (click)="toggleDropdowns()" style="height: 42px;">Solicitudes</a>
              <div class="dropdown-menu" [ngClass]="{'show': dropdownVisibles}">
              <div class="dropdown-content">
                <div style="font-size: 90%;">
                <a href="/solicitudes-turno">Turno</a>
                <a href="/solicitud-vacaciones-validacion">Vacaciones</a>
                <a href="/solicitudsupad">Administradores</a>
                </div>
              </div>
              </div>
            </div>
            <a href="#" class="boton-gan">Gantt</a>

            <button (click)="toggleDropdown()" class="dropdown-button boton">
              <span class="material-symbols-outlined">
                lists
                </span>
            </button>
        </div>

        <div>
          <div class="dropdown-menu" [ngClass]="{'show': dropdownVisible}">
          <a href="/inicio" class="boton2">Inicio</a>
          <div class="dropdown">
            <a class="boton-agregar2" (click)="toggleDropdownaa()" style="height: 42px;  cursor: pointer;">Agregar</a>
            <div class="dropdown-menu" [ngClass]="{'show': dropdownVisibleaa}">
            <div class="dropdown-content2">
              <div style="font-size: 82%;">
              <a href="/admin">Administrador</a>
              <a href="/rg_emp">Empleado</a>
              <a href="#">Usuario</a>
              <a href="/contrato">Contratos</a>
              <a href="/area">Area</a>
              <a href="/sede">Ciudad</a>
              <a href="#">Actividades</a>
              </div>
            </div>
          </div>
          </div>
          <div class="dropdown">
            <a class="boton-soli2" (click)="toggleDropdownss()" style="height: 42px;">Solicitudes</a>
            <div class="dropdown-menu" [ngClass]="{'show': dropdownVisibless}">
            <div class="dropdown-content2">
              <div style="font-size: 90%;">
              <a href="/solicitudes-turno">Turno</a>
              <a href="/solicitud-vacaciones-validacion">Vacaciones</a>
              <a href="/solicitudsupad">Administradores</a>
              </div>
            </div>
            </div>
          </div>
          <a href="#" class="boton-gan2" >Gantt</a>
      </div>
    </div>
      
    </div>
  </div>
  
  