<app-navigation-bar-superadmin></app-navigation-bar-superadmin>

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class="solicitud">
      <h1>Solicitud de Vacaciones</h1>
      <div class="fil">
        <h4>Filtros</h4>
        <span class="material-symbols-outlined" style="font-size: 40px;">
          tune
          </span>
      </div>
  </div>
  
  <div class="esp"></div>
  
  <table class="data-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>ID</th>
          <th>Periodo solicitado</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan</td>
          <td>123</td>
          <td>Solicitud</td>
          <td>Razón</td>
          <td>
            <button class="btn-rech">Rechazar</button>
            <button class="btn-acep">Aceptar</button>
          </td>
        </tr>
      </tbody>
    </table>
</body>
</html>

